@font-face { 
    font-family: 'agrandir'; 
    src: url('../fonts/agrandir/Agrandir-Regular.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
 } 

p {
    font-family: 'agrandir';

  }

h1 {
    font-family: 'agrandir';
  }