@font-face { 
    font-family: 'agrandir_bold'; 
    src: url('../assets/fonts/agrandir/Agrandir-TextBold.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
 } 

 @font-face { 
    font-family: 'agrandir_regular'; 
    src: url('../assets/fonts/agrandir/Agrandir-Regular.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
 } 

p {
  font-family: 'agrandir_regular';

  }

h1 {
  font-family: 'agrandir_bold';
  }

body {
  background-color: #e7dfd8;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; 
  overflow: scroll;
  margin: 20px;
}

.jumbotron {
  border: 1px solid black; 
  display: flex;
  overflow: auto;
  justify-self: center;
  /* flex-direction: column; */
  max-width: 70vw;
  /* align-items: flex-start; */
}

.left-container {
  width: 65%;
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}

.content-container {
  /* width: 60%; */
  padding: 20px; 
  height: 80%;
  /* border: 1px solid black; */
}

.bottom-container {
  width: 50%; /* Take up full width */
  height: 10%; /* 10% of the jumbotron's height */
  padding: 20px; /* Add padding for spacing */
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  /* border: 1px solid black; */
}

.bottom-container i {
  font-size: 2rem; /* Adjust the size as needed */
}

.bottom-container a {
  color: black; /* Set the link color to black */
  text-decoration: none; /* Remove underlines on the links */
}

.right-container {
  width: 35%;
  padding: 20px; 
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-container img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {

  body {
    height: auto;
  }

  /* Change the layout on small screens (phones) */
  .jumbotron {
    flex-direction: column; /* Stack elements vertically */
    height: auto;
    /* max-height: 100vh; */
    text-align: center;
  }

  .right-container {
    width: 100%; /* Take up full width on small screens */
    order: -1;
  }

  .left-container {
    width: 100%;
  }

  .content-container {
    text-align: center;
  }

  .bottom-container {
    width: 100%;
  }

  #location {
    justify-content: center;
  }
}